:root {
    --main-white-color: #FFFFFF;
    --main-light-color: #D8DBE2;
    --main-dark-color: #495867;
    --main-navy-color: #577399;
    --main-ease-color: all .3s ease;
    --main-pale-color: #B7CEE8
}