.login-form {
    width: 350px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-form-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form-page .login-form-button {
    background-color: var(--main-white-color);
    border-color: var(--main-light-color);
    color: var(--main-navy-color);
    box-shadow: 2px 2px 15px rgba(--main-dark-color, .3);
}
.login-form-page .login-form-button:hover {
    background: var(--main-navy-color);
    color: var(--main-white-color);
    transition: var(--main-ease-color);
}